@font-face {
    font-family: 'MyFont';
    src: url('MYFONT/Sol-Kol.woff2') format('woff2'),
        url('MYFONT/Sol-Kol.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html {
    background: url(bg_web.webp) center/cover;
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'MyFont', sans-serif;
    /* font-family: 'my-font'; */
    /* overscroll-behavior:none; */
}

.back {
    position: fixed;
    top: 0;
    width: 40px;
    min-height: 100vh;
    z-index: 1;
    display: none;
    /* border-right: 1px solid gold; */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.back:hover {
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 14px -21px 0px 10px rgba(0, 0, 0, 0);
}

.back.active {
    display: block;
}

.btn_left_back {
    left: 0;
    background: url(arrow.png) no-repeat center/50%;
}

.btn_right_back {
    right: 0;
    background: url(arrow.png) no-repeat center/50%;
    transform: rotate(180deg);
}

#main_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px 0;
}

#nav_container {
    width: 60vw;
    min-height: 100vh;
    top: 0;
    left: calc(50% - 30vw);
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

#nav_container.active {
    display: none;
}

.content {
    width: calc(100% / 4);
    /* width: 300px;
    height: 300px; */
    flex-grow: 1;
    min-height: 400px;
    cursor: pointer;
    outline: 1px solid rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;
}

.content:hover {
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 14px -21px 0px 10px rgba(0, 0, 0, 0);
    outline: 5px solid #fff;
}

#start_js_block {
    background: url(block_js.webp) center/cover;
}

#start_html_block {
    background: url(block_html.webp) center/cover;
}

#start_css_block {
    background: url(block_css.webp) center/cover;
}

#start_bookmarks_block {
    background: url(block_bookmarks.webp) center/cover;
    flex-grow: 2;
}

#online_generator {
    background: url(online_1.webp) center/cover;
}

.menu_block {
    width: 225px;
    height: 225px;
    border: 2px solid beige;
    border-radius: 10px;
    background: url(menu.webp) no-repeat center/cover;
    margin: 20px;
    font-size: 45px;
    color: orange;
    font-weight: bold;
    word-break: break-all;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: transform .3s linear;
    /* break-inside: avoid; 
     display: inline-block; */
}

.menu_block:hover {
    border-color: yellow;
    color: gold;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 14px -21px 0px 10px rgba(0, 0, 0, 0);
    transform: scale(1.1);
}

.box {
    width: 400px;
    height: auto;
    background-color: rgba(84, 85, 87, 0.5);
    overflow: hidden;
    margin: 20px;
    outline: 5px solid rgb(255, 255, 255);
    align-self: flex-start;
    position: relative;
}

.box_img {
    background: #000000 url(loading.gif) no-repeat center/50%;
}

.box:hover,
img:hover {
    box-shadow: 0px 10px 10px 10px rgba(34, 60, 80, 0.2) inset;
    outline-color: orange
}

.head_munu {
    width: 100%;
    padding: 5px 0;
    background-color: rgb(223, 215, 215);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn_head {
    display: block;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.btn_head:hover {
    box-shadow: 0px 5px 10px 2px rgba(233, 141, 3, 0.2) inset;
}

.btn_add_save {
    background: url(add_like.png) no-repeat center/cover;
}

.btn_add_save:hover {
    background: url(add_like-hover.png) no-repeat center/cover;
}

.addBookmarks {
    background: url(add_like-hover.png) no-repeat center/cover;
}

.btn_go_site {
    background: url(next_link.png) no-repeat center/cover;
}

.btn_go_site:hover {
    background: url(next_link-hover.png) no-repeat center/cover;
}

img {
    width: 100%;
    /* min-width: 100%; */
    cursor: zoom-in;
    display: block;
}

.over {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(223, 219, 214, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
    z-index: 4;
}

.over>img {
    cursor: row-resize;
}

.imgOver {
    width: 1000px;
    touch-action: pinch-zoom;
    transform-origin: center;
    /* min-height: 100%; */
}

.box:hover>.addLink,
.box:hover>.delElems {
    display: block;
}

.addLink,
.delElems {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 55px;
    top: 10px;
    display: none;
}

.addLink {
    background: url(next_link2.png) no-repeat center/cover;
}

.addLink:hover {
    background: url(next_link2-hover.png) no-repeat center/cover;
}

.delElems {
    right: 10px;
    background: url(delete.png) no-repeat center/cover;
}

.delElems:hover {
    background: url(delete-hover.png) no-repeat center/cover;
}

#btn_view {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 30px;
    height: 30px;
    background: url(view_one.png) no-repeat center/cover;
    z-index: 3;
    border: none;
    display: none;
}

#btn_view.btn_view_active {
    background: url(view_two.png) no-repeat center/cover;
}


@media screen and (max-width: 480px) {

    #main_container {
        gap: 0;
    }

    #nav_container {
        width: 100vw;
        left: 0;
        min-height: 100vh;
        flex-direction: column;

    }

    .content {
        width: 80%;
        /* min-height: 100px; */
    }

    .box {
        width: 70%;
    }

    .box.btn_view_active {
        width: calc(100% / 2 - 40px);
        margin: 10px;
    }

    .imgOver {
        width: 80%;
    }

    #nav_container.active {
        flex-direction: row;
    }
}



@media screen and (min-width: 480px) and (max-width: 1270px) {

    #main_container {
        gap: 10px 0;
    }

    #nav_container {
        width: 100vw;
        left: 0;
        overflow-y: scroll;
    }

    .content {
        width: calc(100% / 3);
        flex-grow: 1;
    }

    #start_bookmarks_block {
        flex-grow: 2;
    }

}

@media (orientation: landscape) and (max-width: 1024px) {
    .box {
        width: 80%;
    }

    .imgOver {
        width: 90%;
    }
}


/* @media screen and (min-width: 1500px) {
	
} */